# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

#### **IMPORTACIONES:**

In [ ]:
from pandas import Series

2.2.3

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [18]:
# todo: 1.1
nums = Series([1, 2, 3, 4, 5])
print(nums)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# todo: 1.2
dicc = Series({'Argentina': 'Buenos Aires', 'Brasil': 'Brasilia', 'Chile': 'Santiago'})
print(dicc)

Argentina    Buenos Aires
Brasil           Brasilia
Chile            Santiago
dtype: object
{'Argentina': 'Buenos Aires', 'Brasil': 'Brasilia', 'Chile': 'Santiago'}

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [ ]:
# todo: 2.1
tasks = Series({
    'Lunes': 'Hacer las compras',
    'Martes': 'Limpiar la casa',
    'Miércoles': 'Estudiar Python',
    'Jueves': 'Ir al gimnasio',
    'Viernes': 'Pagar cuentas',
    'Sábado': 'Visitar a la familia',
    'Domingo': 'Descansar'
})

print('TAREA SEMANALES\n')
print(tasks)

# todo: 2.2

print('\nTAREAS DEL FIN DE SEMANA\n')
print(tasks[5:7])

# todo: 2.3

tasks[1::2] = ['Correr', 'Leer', 'Salir con amigos']
print('\nTAREAS SEMANALES ACTUALIZADAS\n')
print(tasks)

TAREA SEMANALES

Lunes           Hacer las compras
Martes            Limpiar la casa
Miércoles         Estudiar Python
Jueves             Ir al gimnasio
Viernes             Pagar cuentas
Sábado       Visitar a la familia
Domingo                 Descansar
dtype: object

TAREAS DEL FIN DE SEMANA

Sábado     Visitar a la familia
Domingo               Descansar
dtype: object

TAREAS SEMANALES ACTUALIZADAS

Lunes        Hacer las compras
Martes                  Correr
Miércoles      Estudiar Python
Jueves                    Leer
Viernes          Pagar cuentas
Sábado        Salir con amigos
Domingo              Descansar
dtype: object

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [46]:
# todo: 3.1

nums1 = Series([1, 2, 3, 4, 5])
nums2 = Series([6, 7, 8, 9, 10])

print('SERIE 1\n')
print(nums1)
print('\nSERIE 2\n')
print(nums2)

print('\nSUMA DE SERIES\n')
print(nums1 + nums2)

print('\nRESTA DE SERIES\n')
print(nums1 - nums2)

print('\nMULTIPLICACION DE SERIES\n')
print(nums1 * nums2)

print('\nDIVISION DE SERIES\n')
print(nums1 / nums2)

# todo: 3.2

print('\nSERIE 1 AL CUADRADO\n')
print(nums1 ** 2)

print('\nSERIE 1 AL CUBO\n')
print(nums1 ** 3)

print('\nSERIE 1 A LA CUARTA\n')
print(nums1 ** 4)

SERIE 1

0    1
1    2
2    3
3    4
4    5
dtype: int64

SERIE 2

0     6
1     7
2     8
3     9
4    10
dtype: int64

SUMA DE SERIES

0     7
1     9
2    11
3    13
4    15
dtype: int64

RESTA DE SERIES

0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

MULTIPLICACION DE SERIES

0     6
1    14
2    24
3    36
4    50
dtype: int64

DIVISION DE SERIES

0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

SERIE 1 AL CUADRADO

0     1
1     4
2     9
3    16
4    25
dtype: int64

SERIE 1 AL CUBO

0      1
1      8
2     27
3     64
4    125
dtype: int64

SERIE 1 A LA CUARTA

0      1
1     16
2     81
3    256
4    625
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [52]:
# todo: 4.1

edades = Series([23, 10, 34, 28, 29, 13, 18, 12, 15, 21], index=['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Sofía', 'Carlos', 'Lucía', 'Javier', 'Valeria'])

print('PERSONAS Y SUS EDADES\n')
print(edades)

# todo: 4.2

print('\nMAYORES DE EDAD\n')
print(edades[edades >= 18])

# todo: 4.3

print('\nLISTA ACTUALIZADA\n')
edades[edades < 18] = 'Menor de edad'
print(edades)

PERSONAS Y SUS EDADES

Juan       23
Ana        10
Pedro      34
María      28
Luis       29
Sofía      13
Carlos     18
Lucía      12
Javier     15
Valeria    21
dtype: int64

MAYORES DE EDAD

Juan       23
Pedro      34
María      28
Luis       29
Carlos     18
Valeria    21
dtype: int64

LISTA ACTUALIZADA

Juan                  23
Ana        Menor de edad
Pedro                 34
María                 28
Luis                  29
Sofía      Menor de edad
Carlos                18
Lucía      Menor de edad
Javier     Menor de edad
Valeria               21
dtype: object

C:\Users\Gasto\AppData\Local\Temp\ipykernel_11872\408315161.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Menor de edad' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  edades[edades < 18] = 'Menor de edad'

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [ ]:

# todo: